#portfolio {
  font-size: 2vw;
}

.project-description {
  padding: 2%;
  height: 200px;
}

#test {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
}

#test i {
  font-size: 8vw;
  cursor: pointer;
}

.thumbnail {
  cursor: pointer;
  width: 50vw;
  height: 25vw;
}

figcaption {
  margin-top: 3vw;
  font-size: 1.5vw;
}
