@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@300&display=swap');


* {
	color: #fff;
	font-family: Roboto;
}

body {
	background-image: linear-gradient(85deg, #000, #333);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

nav img {
	width: 20vw;
	margin: 1%;
	border: 5px dashed #123;
	outline: 3px solid rgba(255,255,255,0.1);
	border-radius: 4vw 7vw 3vw;
	box-shadow: 0 0 3vw #fff;
	transform: translate(-4px, -5px) rotate(1deg);
}

#myName {
	text-align: center;
}

nav h1 {
	font-size: 3vw;
}

nav p {
	font-size: 2vw;
}

nav a {
	cursor: pointer;
	font-size: 1.35vw;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
	box-shadow: 0 0 2vw black;
	border-radius: 50%;
	background-color: #123;
}

nav a:active {
	color: lightblue;
}





#list-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

#list-container ul, #skills-container ul{
	margin: 2%;
	padding: 2%;
}

#bio {
	padding: 2%;
	font-size: 2vw;
	text-align: center;
}

#bio h2, h3 {
	text-align: center;
	text-decoration: underline;
}

#bio h2 {
	font-size: 3vw;
}

#bio h3 {
	font-size: 2.5vw;
}

#intro h3 {
	margin-top: .5vw;
}

#bio ul {
	list-style-type: none;
}

#bio li {
	margin: 10px 0;
}

#bio a {
	text-decoration: none;
}

#bio a:hover {
	text-decoration: underline;
	cursor: pointer;
	transform: scaleX(1.1) scaleY(1.1);
}

#skills-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

#skills-container ul {
	text-align: left;
	list-style-type: numeric;
}




#portfolio {
	font-size: 2vw;
}

.project-description {
	padding: 2%;
	height: 100px;
}

#test {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1%;
	
}

#test i {
	font-size: 8vw;
	cursor: pointer;
}

.thumbnail {
	cursor: pointer;
	width: 75vw;
	height: 50vw;
}

figcaption {
	margin-top: 3vw;
	font-size: 1.5vw;
}



#contact-me {
	padding: 3%;
	font-size: 2vw;
}

#contact-me h2 {
	text-align: center;
}

#icon-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 2%;
}

#icon-container div {
	text-align: center;
}

#icon-container a {
	font-size: 2vw;
	text-decoration: none;
}

.icon {
	cursor: pointer;
	margin: 0;
	display: flex;
	justify-content: center;
	height: 50%;
	font-size: 5vw;
}

#linkedin {
	color: #0077b5;
}

#github {
	color: #A020F0;
}

#codepen {
	color: yellow;
}

#contact-me form {
	display: flex;
	flex-direction: column;
}

#contact-me input, select {
	color: #000;
	outline: none;
	border: none;
	margin: 2% 0;
}

#contact-me option {
	color: #000;
	cursor: pointer;
}

#send {
	width: 50%;
	cursor: pointer;
	align-self: center;
	height: 6vw;
}

footer {
	text-align: center;
}
