@import 'node_modules/bootstrap-icons/font/bootstrap-icons.css';

* {
  box-sizing: border-box;
  font-family: 'Reddit Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
  background-color: transparent;
}

html,
body,
#root,
#main {
  height: 100%; /* Ensure they take full height */
  width: 100dvw;
  overflow-x: hidden;
}

html {
  overflow-y: hidden; /* Allow scrolling */
}

body,
#main {
  overflow-y: auto; /* Allow scrolling */
}

#main {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}
